{
  "apps": [
    {
      "serverURL": "http://parse-server.example.com",
      "appId": "appId",
      "masterKey": "masterKey",
      "appName": "appName"
    }
  ],
  "users": [
    {
      "user":"admin",
      "pass":"admin"
    }
  ]
}