Mongodb Username:root
Mongodb Password:{{mongodb_password.stdout}}


--- For Parse Server ---

DatabaseName:parse
Database Username:parse
Database Password:websoft9

--- For Parse Dashboard ---

Parse Dashboard Username:admin
Parse Dashboard Password:admin
